<div class="p-3">
  <nav class="navbar navbar-expand-lg bg-white shadow rounded p-3 mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <img src="https://themewagon.github.io/alazea/img/bg-img/10.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        School
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span>-->
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="students" class="nav-link" href="#">Students</a>
          </li>
          <li class="nav-item">
            <a routerLink="departments" class="nav-link">Departments</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link">Accounts</a>
          </li>
        </ul>
        <form class="d-flex justify-content-start" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto d-flex flex-row">
          @if (authService.isLoggedIn){
            <li class="nav-item dropdown mx-3 me-lg-0">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Mona</span>
                <img class="rounded-circle" src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg" width="20px" height="20px">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile</a></li>
                <li><div class="dropdown-divider"></div></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalId"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout</button></li>
              </ul>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</div>
