<p>
  Students Component Works!
</p>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row justify-content-between align-items-center">
            <h4 class="col text-primary">Students</h4>
            <button class="col-2 btn btn-outline-primary me-2 py-2 text-center" data-bs-target="#studentModal" data-bs-toggle="modal" type="button">
              Add New Student
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <table class="table table-bordered table-hover table-responsive">
                <thead class="table-light">
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Email</th>
                  <th [width]="300">Action</th>
                </tr>
                </thead>
                <tbody>
                  @for (student of students; track student.id; let i = $index) {
                    <tr>
                      <td>{{ i }}</td>
                      <td>{{ student.id }}</td>
                      <td>{{ student.name }}</td>
                      <td>{{ student.age }}</td>
                      <td>{{ student.email }}</td>
                      <td>
                        <div class="row justify-content-evenly align-items-center">
                          <button class="btn btn-success p-2 col-3" data-bs-target="#showStudentModal"
                                  data-bs-toggle="modal"
                                  type="button" (click)="showStudent(student)">
                            <i class="fa-solid fa-eye"></i>
                          </button>
                          <button
                            class="btn btn-warning p-2 col-3"
                            data-bs-target="#updatedStudentModal"
                            data-bs-toggle="modal"
                            type="button"
                            (click)="updateStudent(student)">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                          <button class="btn btn-outline-danger p-2 col-3" (click)="deleteStudent(student.id)">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="studentModalLabel" class="modal fade text-start" data-bs-backdrop="static"
         data-bs-keyboard="false" id="studentModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="studentModalLabel">Add Student</h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
            <form class="col-12 mt-4">
              <div class="col-12 mb-3">
                <label class="form-label" for="name">Name: <span class="text-danger">*</span></label>
                <input [(ngModel)]="newStudent.name"
                       [ngClass]="{'form-control':true,'is-invalid': newStudent.name.length < 3, 'is-valid': newStudent.name.length >= 3}"
                       id="name"
                       name="name"
                       placeholder="Enter your name"
                       type="text"/>
                <div *ngIf="newStudent.name.length < 3" class="invalid-feedback">
                  Please enter a name with at least 3 characters.
                </div>
              </div>

              <div class="col-12 mb-3">
                <label class="form-label" for="email">Email: <span class="text-danger">*</span></label>
                <input [(ngModel)]="newStudent.email"
                       [ngClass]="{'is-invalid': newStudent.email.length < 10, 'is-valid': newStudent.email.length >= 10}"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter your email"
                       type="email"/>
                <div *ngIf="newStudent.email.length < 10 && (newStudent.email || newStudent.email === '')"
                     class="invalid-feedback">
                  Please enter an email with at least 10 characters.
                </div>
              </div>

              <div class="col-12 mb-3">
                <label class="form-label" for="age">Age: <span class="text-danger">*</span></label>
                <input [(ngModel)]="newStudent.age"
                       [ngClass]="{'is-invalid': newStudent.age <= 0, 'is-valid': newStudent.age > 0}"
                       class="form-control"
                       id="age"
                       name="age"
                       placeholder="Enter your age"
                       type="number"/>
                <div *ngIf="newStudent.age <= 0 && (newStudent.age)" class="invalid-feedback">
                  Please enter age.
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-bs-dismiss="modal" type="button">Reset</button>
            <button (click)="addStudent()" class="btn btn-primary" data-bs-dismiss="modal" id="submitBtn" type="button">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show Model -->
  <div aria-hidden="true" aria-labelledby="showStudentModalLabel" class="modal fade text-start" id="showStudentModal"
       role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="showStudentModalLabel">
            Student #{{ selectedStudent.id }} Details
          </h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body fs-3">
          <p>
            <strong class="text-primary">Name:</strong>
            {{ selectedStudent.name }}
          </p>
          <p>
            <strong class="text-primary">Email:</strong>
            {{ selectedStudent.email }}
          </p>
          <p>
            <strong class="text-primary">Age:</strong>
            {{ selectedStudent.age }}
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Student Modal -->
  <div aria-hidden="true" aria-labelledby="updatedStudentModalLabel" class="modal fade text-start"
       data-bs-backdrop="static" data-bs-keyboard="false" id="updatedStudentModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updatedStudentModalLabel">
            Update Student {{ updatedStudent.name }}
          </h5>
          <button
            aria-label="Close"
            class="btn-close"
            data-bs-dismiss="modal"
            type="button"
          ></button>
        </div>
        <div class="modal-body">
          <form class="col-12 mt-4">
            <div class="col-12 mb-3">
              <label class="form-label" for="name">Name: <span class="text-danger">*</span></label>
              <input [(ngModel)]="updatedStudent.name"
                     [ngClass]="{'form-control':true,'is-invalid': updatedStudent.name.length < 3, 'is-valid': updatedStudent.name.length >= 3}"
                     id="name"
                     name="name"
                     placeholder="Enter your name"
                     type="text"/>
              <div *ngIf="updatedStudent.name.length < 3" class="invalid-feedback">
                Please enter a name with at least 3 characters.
              </div>
            </div>

            <div class="col-12 mb-3">
              <label class="form-label" for="email">Email: <span class="text-danger">*</span></label>
              <input [(ngModel)]="updatedStudent.email"
                     [ngClass]="{'is-invalid': updatedStudent.email.length < 10, 'is-valid': updatedStudent.email.length >= 10}"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="Enter your email"
                     type="email"/>
              <div *ngIf="updatedStudent.email.length < 10 && (updatedStudent.email || updatedStudent.email === '')"
                   class="invalid-feedback">
                Please enter an email with at least 10 characters.
              </div>
            </div>

            <div class="col-12 mb-3">
              <label class="form-label" for="age">Age: <span class="text-danger">*</span></label>
              <input [(ngModel)]="updatedStudent.age"
                     [ngClass]="{'is-invalid': updatedStudent.age <= 0, 'is-valid': updatedStudent.age > 0}"
                     class="form-control"
                     id="age"
                     name="age"
                     placeholder="Enter your age"
                     type="number"/>
              <div *ngIf="updatedStudent.age <= 0 && (updatedStudent.age)" class="invalid-feedback">
                Please enter age.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-bs-dismiss="modal" type="button">Reset</button>
          <button (click)="saveUpdatedStudent()" class="btn btn-primary" data-bs-dismiss="modal" id="submitBtn"
                  type="button">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
