/* You can add global styles to this file, and also import other style files */
p {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

body{
  padding: 10px;
}
