<p class="my-4">home works! - Input child message : {{ childMessage }}</p>
<div class="row justify-content-center m-4">
  <div class="col-3">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success">Students</div>
      <div class="card-body text-success">
        <h5 class="card-title">Count : {{ studentsCount }}</h5>
      </div>
      <div class="card-footer bg-transparent border-success">
        <a class="text-success" routerLink="students" style="text-decoration: none;">Go To Students</a>
      </div>
    </div>
  </div>


  <div class="col-3">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success">Departments</div>
      <div class="card-body text-success">
        <h5 class="card-title">Count : {{ departmentsCount }}</h5>
      </div>
      <div class="card-footer bg-transparent border-success">
        <a class="text-success" routerLink="departments" style="text-decoration: none;">Go To Departments</a>
      </div>
    </div>
  </div>
</div>

